html {
  font-family: "Montserrat";
  /*height: 100vh;*/
}

body {
  display: grid;
  grid-template-rows: 5fr 32fr 1fr;
  height: 100vh;
}

body.index {
  grid-template-rows: 2fr 1fr 4fr;
}

.midarea {
  display: grid;
  grid-template-columns: 5fr 16fr 5fr;
}

.gamearea {
  justify-content: cemter;
  /*align-items: center;*/
  /*align-content: center;*/
  display: grid;
  border: 3px solid;
}

.header {
  text-align: center;
  margin-top: 2%;
  font-weight: bold;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 0.5%;
}

.header h3 {
  font-size: 28px;
}

button:hover {
  background-color: #F0F8FF;
  cursor: pointer;
}

button {
  border: 1px solid;
  border-color: black;
  /*background-size: auto;*/
  background-repeat: no-repeat;
  background-position: center;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}

.welcome {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  vertical-align: center;
  line-height: 5;
}

.preference {
  text-align: center;
  font-size: 30px;
}

.choices button {
  width: 100%;
  /*margin-left: 4%;*/
  height: 20%;
  font-size: 30px;
}

.gamearea button {
  background-color: white;
}

.choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1%;
  margin-left: 4%;
  margin-right: 4%;
}